flow.json
[{"id":"a70aa340.b4ae88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ce09999.bb12a","type":"mqtt-broker","z":"","name":"docker-compose","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7af23faa.aff068","type":"inject","z":"a70aa340.b4ae88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["7f06a05d.0c2e38","2f4f7e57.da7902"]]},{"id":"7f06a05d.0c2e38","type":"debug","z":"a70aa340.b4ae88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":140,"wires":[]},{"id":"2f4f7e57.da7902","type":"mqtt out","z":"a70aa340.b4ae88","name":"","topic":"casablanca","qos":"","retain":"","broker":"8ce09999.bb12a","x":390,"y":200,"wires":[]}]